body {
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

#mySlideshow {
    position: relative;
    width: 100%;
    height: 100vh;
}

#slideshow {
    width: 100%;
    height: 100%;
    position: absolute;

}

.slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
}


.center {
    position: absolute;
    z-index: 1;
}

.navbar {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

a {
    color: black;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.mySlides {
    position: fixed;
    display: none;
    width: 800px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mySlide {
    display: none;
    width: 100%;
    height: 100%;
}

.slideButton {
    background: none;
	color: inherit;
	border: none;
	padding: 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    z-index: 10;
}

button:hover {
    color: whitesmoke;
}

.copy {
    overflow: scroll;

}